.header-section {
  display: flex;
  align-items: center;
  width: 1250px;
  // background-image: url(../../images/imgJ/Hero.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
}

.header-logo {
  background-color: var(--title-second);
}

.page-header {
  display: flex;
  background-color: black;
  margin: 0 auto;
}

.nav-header {
  display: flex;
}

.nav-header__list {
  display: flex;
  padding-left: 35px;
}

.nav-header__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-second);
  display: block;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 40px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-header {
  display: flex;
  display: block;
  margin-left: auto;
  padding-right: 8px;
}

.contact-header__tel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  color: var(--title-second);
  margin-right: 40px;
}

.contact-header__button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  cursor: pointer;
  color: var(--title-second);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
