.prices {
  width: 1250px;
  margin: 0 auto;
  padding-top: 130px;
  padding-right: 55px;
  padding-bottom: 130px;
  padding-left: 55px;
  background: #111319;
  background-image: url(../../images/imgJ/img-prices.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prices__pre-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--pre-text);
  &::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background: rgba(157, 164, 189, 0.6);
  }
}

.prices__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  color: var(--title-second);
}

.prices__first {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.prices__list-left {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 40px 30px;
  width: 50%;
}

.prices__list-right {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  padding: 40px 30px;
  width: 50%;
}

.prices__services {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-fon);
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &::before {
    content: "";
    background-color: rgba(157, 164, 189, 0.12);
    height: 1px;
    flex-grow: 1;
    margin-right: 6px;
    margin-left: 6px;
    color: var(--pre-text);
  }
}

.prices__text {
  order: -1;
}

.prices__button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  cursor: pointer;
  color: var(--title-second);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
