.header-section {
  display: flex;
  align-items: center;
  width: 1250px;
}

.header-logo {
  background-color: #ffffff;
}

// .page-header__icon {
//   color: #ffffff;
// }

.page-header {
  display: flex;
  background-color: black;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  align-items: stretch;
}

.nav-header__list {
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.nav-header__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 40px;
  }
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

.contact-header {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 8px;
}

.contact-header__tel {
  //   display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;

  color: #ffffff;
  margin-right: 40px;
}

.contact-header__button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  color: #ffffff;
}
